@{
    ViewBag.Title = "About";
}


<html>
<body>

    <h1>Warehouse management blog</h1>
 



    <div id="content">
        <font face="verdana"> Warehouse management blog
        
            <h2>
                1.  Organization is king</h2>

    If your warehouse is not organized, incoming products will not go to the appropriate locations. Pickers will spend needless hours trying to find products. You must establish a system that organizes your materials in a logical and defined order.

    The best organization keeps the fastest moving materials front and center in your warehouse. You can increase your efficiency by grouping products that are normally ordered in groups. Consider how grocery stores stock products — if you are looking for bread, you do not go to the milk aisle.
    <br>

            <h2>
                2.  Start with the right receiving</h2>

    When materials come into your warehouse, they should be verified and inspected immediately. Shortages or damages require immediate notation. Getting products put away in the correct location is also very critical. Materials left in receiving may be showing as available in your system, but not actually on the shelves.
    <br>

            <h2>
                3.  Apply logic to pick processes</h2>

    Whether your warehouse is small or large, the amount of time spent picking orders is a large portion of your costs. If your warehouse is organized efficiently, you can organize pick lists for better time control.

    If you normally only ship a small number of orders with large quantities of products, arrange the lists so the picker can work from one material location to the next and avoid the constant back-and-forth process.

    If you ship numerous small orders, create pick lists in groups and then divide the materials by customer order when it reaches the verification stage.
    <br>

            <h2>
                4.  Reorganize when needed</h2>

    What works for your warehouse today may not work six months from now. Reevaluate your inventory and storage methods periodically to make sure that you maintain the right product flow.

    For example, a product that took up two full shelves last month may now be obsolete. The product next to it may suddenly be in high demand. Change the space allocated to your materials when supply and demand changes.
    <br>

            <h2>
                5.  Use quality control</h2>

    When products are sent to your shipping station, the items must be verified before they are actually packed and processed. Packers do not normally have time to double-check each item. When problems are identified, the wrong products should be returned to the appropriate location immediately. Allowing a large section of wrong products to pile up is not only messy; it could create a shortage on the next orders being processed.
    <br>

            <h2>
                6.  Keep your warehouse safe</h2>

    Maintaining a safe environment is very important to maintaining peace of mind. You have to meet certain requirements, and protecting your employees from injury is a key goal. Accidents can cost you the skilled labor you need to keep your warehouse operating.

    One area that frequently requires attention is forklift operations. Make sure your operators are well trained and you have designated traffic lanes to increase efficiency and safety.
    <br>

            <h2>
                7.  Maintain appropriate lighting</h2>

    A brighter warehouse provides not only a safer work environment but also improves your employees’ ability to do their job. Brighter lights also foster more alertness for what needs to be done.
    <br>

            <h2>
                8.  Train your staff</h2>

    Since processes change from time to time training employees (whether seasoned or new) will always be required. Schedule time for training and retraining when needed. Incorporate cross-training so that your employees have the skills to handle more than one type of job. If one employee is unable to work then the other employee or employees will have no problem taking on some of the load.
    <br>

            <h2>
                9.  Use the right software</h2>

    You have a vast number of choices in software for material handling and warehouse management. Programs can be used for inventory control, labor, equipment maintenance, shipping and more. At first you may not even need a full package — just choose the individual programs that provide the right solution for your company. Many providers offer free trials, so take some time to test out what will work for you.
    <br>

            <h2>
                10.  Ensure prompt delivery and customer service</h2>

    Whether you run your own transportation or use an outside carrier, use a shipment-tracking program. You need to know where your products are, and so do your clients. Being able to provide real time information will only enhance the customer service you offer.
</font>
        <br>

        <!-- asside -->

        <aside>
            <section>
                <header>
                    <h3>Categories</h3>
                </header>
                <ul>
                    <li><a href="#">Designate </a></li>
                    <li><a href="#">automation</a></li>
                    <li><a href="#">technology </a></li>
                </ul>
            </section>
            <section>
                <header>
                    <h3>Links</h3>
                </header>
                <ul>
                    <li><a href="http://www.digitalistmag.com/lob/supply-chain/2014/12/29/warehouse-management-10-tips-smooth-operations-2015-01955276">digitalistmag blog</a></li>
                    <li><a href="http://www.camcode.com/asset-tags/warehouse-operations-best-practices/">camcode best tips </a></li>
                    <li><a href="http://www.shelfplus.com/material-handling-hotline/10-ideas-for-a-more-efficient-warehouse-operation/">efficient warehouse operation</a></li>
                    
                </ul>
            </section>
        </aside>
    </div>

</body>

</html>

