@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    
    <h1> Warehouse Management</h1>

<p class="lead">Warehouse Management is a platform that help Businesses to orginize and manage warehouses and stores products.</p>

 
        <div class="row">
            <div class="col-md-4">

                <h2>Getting started</h2>
                <p>
                    Create youre own warehouse
                </p>
                <p><a class="btn btn-default" href="Warehouses/Create">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Learn how to manage your warehouse</h2>


                <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=OxqafvDyGZw">Learn more &raquo;</a></p>

            </div>
            <div class="col-md-4">
                <a href="http://www.accuweather.com/he/il/tel-aviv/215854/weather-forecast/215854" class="aw-widget-legal">
                    <!--
        By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
        -->
                </a><div id="awcc1479566605184" class="aw-widget-current" data-locationkey="215854" data-unit="c" data-language="he" data-useip="false" data-uid="awcc1479566605184"></div>
                <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>

            </div>
        </div>


    </div>

<br />




<p><b>Note:</b> Warehouse Operations Best Practices: 51 Awesome Tips and Tactics to Help Improve Warehouse Management and Operations</p>

<div class="newspaper">
    Use automatic data collection. “‘People writing numbers on pads of paper or keying strings of numbers into a keyboard is a bad sign,’ McKnight says.

    The benefits of automatic data collection—via bar code and radio frequency identification—are well-established, including increased productivity and accuracy and lower labor costs. But plenty of companies still haven’t implemented automatic data collection.

    ‘Some organizations with 30,000 or 40,000 item numbers and multiple facilities are still convinced they’re better off without technology,’ McKnight says.” – Denny McKnight, partner, Tompkins Associates Inc., a supply chain integration firm headquartered in Raleigh, N.C., quoted by Leslie Hansen Harps in Best Practices in Today’s Distribution Center, InboundLogistics.com

    Don’t rely on manual data entry processes. “INSTEAD: Use mobile computers with bar code scanners or RFID readers at the receiving dock to immediately identify products on arrival. This helps get product off the dock quickly and eliminates nearly all the errors associated with manual receiving: including identification, counting, and data entry errors. With scanning and RFID technology, you’ll avoid the mistakes that wreak havoc with inventory accuracy and eat up time and resources to fix. And that means your warehouse staff can focus on processing customer orders more quickly.” – Top 10 Losing Warehouse Strategies and How to Avoid Them, Motorola Solutions;
</div>
<br /><br />

<iframe width="700" height="393" src="https://www.youtube.com/embed/dAXdeqcHBp4?t=50s&autoplay=1" frameborder="0" onloadstart="60"></iframe>






<canvas id="myCanvas" width="578" height="200"></canvas>
<script>
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');

      // do cool things with the context
      context.font = '40pt Calibri';
      context.fillStyle = 'orange';

      context.fillText('Wellcome!', 150, 100);

</script>
